<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<!--head-->
<head th:replace="admin/fragments/head :: head">
    <title>Tổng quan</title>
</head>
<body class="animsition">
<div class="page-wrapper">
    <!--    header-->
    <div th:replace="admin/fragments/header :: header"></div>
    <!--    sidebar-->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header th:replace="admin/fragments/header_desktop :: header_desktop"></header>
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <div class="mt-5 pt-5 ps-4 m-sm-4 pe-4">
            <div id="wrapper">
                <form id="createUser" method="post" th:object="${user}"  >
<!--                     th:action="@{/Admin/create_user}" enctype="multipart/form-data"-->
                    <div class="card mt-5">
                        <div class="card-header bg-light">
                            <strong>Tạo User Mới</strong>
                            <div th:if="${param.error}">
                                <p class=" p-4 justify-center rounded-md">Sai tên đăng nhập hoặc mật khẩu</p>
                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label  class=" form-control-label">Họ và Tên</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label>
                                        <input id="name" type="text" name="name" placeholder="Họ và Tên"
                                               class="form-control"
                                               required
                                               minlength="6" maxlength="50">
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label   class=" form-control-label">Email</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label>
                                        <input id="email" type="email" name="email" placeholder="Tài khoản Email"
                                               class="form-control"  required>
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Username</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label>
                                        <input id="userName" type="text" name="username" placeholder="Tên đăng nhập"
                                               class="form-control" required
                                               minlength="4" maxlength="35">
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label  class=" form-control-label">Mật khẩu</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <label>
                                        <input id="password" type="password"  name="password" placeholder="Mật Khẩu"
                                               class="form-control"  required
                                               minlength="6" maxlength="15">
                                    </label>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label class=" form-control-label">Công Ty</label>
                                </div>
                                <div class="  col-12 col-md-9">
                                    <label>
                                        <select id="company" class="form-select " name="company" >
                                            <option value="FPT Software">FPT Software</option>
                                            <option value="FPT Information System">FPT Information System</option>
                                            <option value="FPT Telecom">FPT Telecom</option>
                                            <option value="FPT OnlineMK">FPT OnlineMK</option>
                                            <option value="FPT Education">FPT Education</option>
                                            <option value="FPT Online">FPT Online</option>
                                            <option value="FPT Smart Cloud">FPT Smart Cloud</option>
                                            <option value="FPT Investment">FPT Investment</option>
                                            <option value="FPT Digital">FPT Digital</option>
                                            <option value="VMGmedia">VMGmedia</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class=" col-md-2 d-grid">
                                    <button id="createUserBtn" type="submit" class="btn btn-primary ">
                                        Duyệt
                                    </button>
                                    <a class="btn btn-outline-primary" th:href="@{/Admin/list_user}" role="button">
                                        Trở lại
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
<!--JS-->
<div th:replace="admin/fragments/script :: script"></div>
</body>
</html>
<!-- end document-->
