<div th:fragment="script">
  <!-- Jquery JS-->
  <script th:src="@{/assets/vendor/jquery-3.2.1.min.js}"></script>
  <!-- Bootstrap JS-->
  <script th:src="@{/assets/vendor/bootstrap-4.1/popper.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
  <!-- Vendor JS       -->
  <script th:src="@{/assets/vendor/slick/slick.min.js}">
  </script>
  <script th:src="@{/assets/vendor/wow/wow.min.js}"></script>
  <script th:src="@{/assets/vendor/animsition/animsition.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
  </script>
  <script th:src="@{/assets/vendor/counter-up/jquery.waypoints.min.js}"></script>
  <script th:src="@{/assets/vendor/counter-up/jquery.counterup.min.js}">
  </script>
  <script th:src="@{/assets/vendor/circle-progress/circle-progress.min.js}"></script>
  <script th:src="@{/assets/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
  <script th:src="@{/assets/vendor/chartjs/Chart.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/select2/select2.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery-1.12.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/Chart.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/getChartData.js}"></script>
  <script type="text/javascript">
   userScript.getChartData();
  </script>
  <!-- Main JS-->
  <script th:src="@{/assets/js/main.js}"></script>
  <!-- API JS -->
  <script th:src="@{/assets/js/admin-api.js}"></script>
<script th:src="@{/assets/js/user-api.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</div>

